@import url("photographer.css");

:root {
  --primary-red: #901c1c;
  --primary-orange: #d3573c;
  --primary-orange-blade : #DB8876;
  --secondary-grey: #525252;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--primary-red);
  margin-right: 100px;
  margin-top: 16px;
  padding-left: 97px;
}

#logo {
  height: 50px;
  margin-left: 100px;
  margin-top: 16px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  align-items: baseline;
}

.photographer_section a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photographer_section article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: var(--primary-orange);
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 0px;
  text-align: center;
  white-space: nowrap;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_section article h3,
.photographer_description,
.photographer_price {
  margin-bottom: 0px;
  margin-top: 0px;
}

.photographer_section article h3 {
  color: var(--primary-red);
  font-size: 13px;
  font-weight: normal;
}

.photographer_section article .photographer_description {
  font-size: 10px;
}

.photographer_section article .photographer_price {
  font-size: 9px;
  color: #757575;
}

.description_photograph {
  text-align: center;
}

@media (max-width: 1024px) {
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    align-items: baseline;
  }
}

@media (max-width: 640px) {
  #header_page {
    justify-content: center;
  }

  #logo {
    margin-left: 0px;
  }

  .photographer_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    margin-top: 100px;
    align-items: baseline;
  }
}

@media (max-width: 465px) {
  h1 {
    padding-left: 0px;
    margin: auto;
  }
}

/*
@media (min-width: 640px){
}

@media (min-width: 768px){
}

@media (min-width: 1024px){
}

@media (min-width: 1280px){
}
*/
